
$mainFont : 'Spartan', sans-serif;

$planetNameFontSize: 4rem;
$largeFontSize : 3rem;
$mediumFontSize: 2rem;
$smallFontSize: 1.1rem;
$pFontSize: 1.3rem;
$buttonFontSize: 1.2rem;

$letterSpacing: 0.2rem;
$letterSpacingSmaller: 0.2rem;

$regularFW: 300;
$boldFW: 400;
$bolderFW: 500;
$backgroundColor: #070724;
$fontColor: #c1c1c1;

$mercuryColor: #DEF4FC;
$venusColor: #F7CC7F;
$earthColor: #545BFE;
$marsColor: #FF6A45;
$jupiterColor: #ECAD7A;
$saturnColor: #FCCB6B;
$uranusColor: #65F0D5;
$neptuneColor: #497EFA;




