@import '/src/styles/variables';





 .planet-text-container {
    color: $fontColor;
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3 / 3;

  
    .planet-name {
        font-weight: $regularFW;
        font-size: $planetNameFontSize;
        letter-spacing: $letterSpacing;
    }
    .planet-content {
        font-size: $pFontSize;
        line-height: 1.7rem;
        letter-spacing: $letterSpacingSmaller;
        width: clamp(200px, 90%, 400px);
    }
    .source {
        font-size: $pFontSize;
        color: #888888;
        font-size: 1.5rem;
        font-weight: $regularFW;

        a {
            color: #888888;
            font-weight: $bolderFW;
            letter-spacing: $letterSpacingSmaller;
        }
    }
}

@media (min-width: 768px) {
    .planet-text-container {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        text-align: left;
        .planet-name, .source, .planet-content {
            align-self: flex-start;
        }

    }
}

@media (min-width: 1366px) {
    .planet-text-container {
        grid-column: 4 / 6;
        grid-row: 2 / 2;
    }
}